@import "colours.css";

* {
  font-family: 'Hack Nerd Font Propo';
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @bg1;
  color: @fg1;
}

button {
  border: none;
  border-radius: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @fg2;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
  color: @fg2;
}

#workspaces button.focused {
  color: @bg1;
  background-color: @focus;
  font-size: 12px;
}

#workspaces button.urgent {
  background-color: @alert;
  color: @bg1;
}

#mode {
  background-color: @alert;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 5px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* Set all module backgrounds to grey background-color: #808080; */

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#network.disconnected {
  background-color: @alert;
}

#pulseaudio.muted {
  background-color: @alert;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @alert;
}

#idle_inhibitor.activated {
  background-color: @focus;
}
